.capture {
  width: 100%;
  max-height: 400px;
}
.ringloader{
  /* margin: 20px auto; */
  margin: 50px auto ;
}
.message{
  background-color: rgb(151, 88, 101);
  color: azure;
  padding: 10px;
  text-align: center;
}
.homepageText{
  background-color: ghostwhite;
  text-align: justify;
  padding: 40px;
  text-indent: 25px;
}
.footer{
  position: absolute;
  bottom: 0;
  width:100%
}
.footerText{
  color:azure;
  font-size:16px;
  margin-left: 15px;
  text-align: left; 
}
.aboutP{
  text-align: justify;
  background-color: ghostwhite;
  padding: 20px;
  text-indent: 25px;
}
.cv{
  cursor:pointer;
  color:darkslategrey
}
