html,body{
  min-height: 100vh;
 
}
.capture {
  width: 100%;
  max-height: 400px;
}
.toast{
  position: relative;
  bottom:-350px
}
.ringloader{
  
  margin: 50px auto ;
}
.message{
  background-color: rgb(151, 88, 101);
  color: azure;
  padding: 10px;
  text-align: center;
}
.homepageText{
  background-color: ghostwhite;
  text-align: justify;
  padding: 40px;
  text-indent: 25px;
}

.footerText{
  color:azure;
  font-size:16px;
  margin-left: 15px;
  text-align: left; 
  font-family: 'Baskerville Old Face';
}

.aboutP{
  text-align: justify;
  background-color: ghostwhite;
  padding: 20px;
  text-indent: 25px;
}
.cv{
  cursor:pointer;
  color:darkslategrey
}
.offcanvasHeader{
  background-color: rgb(80, 84, 100);
}
.offcanvass{
 background-color: rgb(219, 217, 226)
}
